* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: #1b1b1b;
  /* font-family: monospace; */
}

h1 {
  color: white;
  font-size: 16pt;
}

p {
  color: white;
}

#container {
  min-height: 100vh;
}

.grid-container {
  display: flex;
  grid-template-columns: auto auto auto;
}

.grid-item {
  display: flexbox;
  min-width: 40vw;
  width: auto;
  max-width: 45vw;
  padding: 10px;
  margin: calc(25px + 10vh) auto;
}

.nav {
  font-family: Helvetica;
  z-index: 2;
  position: fixed;
  top: 0;
  height: 66px;
  width: 100%;
  background-color: #303030;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303030;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: lightgray;
  text-align: center;
  padding: 24px 24px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #555555;
}

.nav .active {
  color: white;
}

.nav .about {
  float: right;
}

.main_body {
  overflow: auto;
  min-height: 100vh;
  margin-bottom: -50px;
}

.welcome {
  padding: 128px 24px 28px 24px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.line-counts{
  background-color: #303030;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.image-container{
  position: relative;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: gold solid 2px;
}

img{
  max-height: 80vh;
  max-width: auto;
  margin: 0 auto;
  display: block;
}

.text-overlay{
  position: absolute;
  top: 0;
  left: 0;
  text-align: justify;
  text-align-last: justify;
  color: white;
}

.dummy{
  position: absolute;
  top: 0;
  left: 0;
  text-align: justify;
  text-align-last: justify;
  background-color: rgba(0, 0, 0, 0.72);
  color: gold;
  font-family: 'Franklin Gothic Medium';
  font-size: 34px;
  line-height: 31.25px;
  padding: 10px;
}

.line-counts{
  color: white;
}

footer {
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
  text-align: center;
  color: lightgray;
  background-color: #303030;
}

footer li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  padding: 16px;
}

@media only screen and (max-width: 290px) {
  .nav {
    height: 62px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .nav li {
    font-size: 8.5pt;
  }
}